<!DOCTYPE html>
<html lang="pt-br">
    <head>
         <!-- Required meta tags -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <meta name="author" content="Gabriela Garcia">

        <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
        <title>Rigbus | O ônibus certo para você</title>
    </head>
    <body>
        <h1 class="text-login">Entrar</h1>

        <div class="container">
            <form action="" id="login">
                <div class="form-group">
                    <label for="user_email">Email</label>
                    <input type="email" id="user_email">
                </div>
                <div class="form-group">
                    <label for="user_password">Senha</label>
                    <input type="password" id="user_password">
                </div>
                <a href="">
                    <button class="btn-primary">
                        ENTRAR
                    </button>
                </a>
            </form>
            <h5>Esqueceu a senha?</h5>
        </div>
    </body>
</html>